<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @RenderSection("Title", true)
    <base href="@baseHref">

    <link rel="shortcut icon" href="icon/favicon.ico" />
    <link rel="stylesheet" href="package/font-awesome/6.2.0/css/all.min.css" />
    <link rel="stylesheet" href="package/mini-form-ui/1.1.0/mini-form-ui.min.css" />
    <link rel="stylesheet" href="package/mini-form-ui/1.1.0/mini-form-ui-file.min.css" />
    <link rel="stylesheet" href="css/layout.css?v=@version">
    <link rel="stylesheet" href="css/layout-theme.css?v=@version">
    
    <script src="package/axios/0.27.2/axios.min.js"></script>
    <script src="package/vue/vue@2.7.10/vue.min.js"></script>
    <script src="package/mini-form-ui/1.1.0/mini-form-ui.min.js"></script>
    <script src="package/mini-form-ui/1.1.0/mini-form-ui-file.min.js"></script>
    <script src="js/storage.js?v=@version"></script>
    <script src="js/cookie.js?v=@version"></script>
    <script src="js/directives/mounted.js?v=@version"></script>
    <script src="js/directives/imageLoad.js?v=@version"></script>
    <script src="js/directives/imageLazyLoad.js?v=@version"></script>
    <script src="js/directives/stayWatch.js?v=@version"></script>
    <script src="js/components/dropdownMenu.js?v=@version"></script>
    <script src="js/mixins/layoutMixin.js?v=@version"></script>
    <script src="js/mixins/routeMixin.js?v=@version"></script>
    <script src="js/mixins/folderMixin.js?v=@version"></script>
    <script src="js/mixins/searchMixin.js?v=@version"></script>
    <script src="js/mixins/navbarMixin.js?v=@version"></script>
    <script src="js/mixins/bookmarkMixin.js?v=@version"></script>

    @RenderSection("Header", false)

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-QZKLLQXNS6"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-QZKLLQXNS6');
    </script>
</head>

<body>
    @RenderSection("Theme", false)

    @RenderBody()

    @RenderSection("Script", false)
</body>

</html>