@page "/audio/{worknum}/{path?}"
@model FileBrowser.Pages.AudioModel
@{
    Layout = "_Layout";
}

@section header {
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/css/audio.css")">
    <script>var path = '/@Model.WorkNum/@Model.FilePath';</script>
    <script>var audioUrl = '@UrlEx.PageRouteLink("api/file/audio", $"{ Model.WorkNum }", Model.FilePath)'</script>
}

<div class="audio-warp">
    <div class="board title">
        <div class="title-btn">
            <a href="@UrlEx.PageRouteLink("files", $"{Model.WorkNum}", Model.ParentDirPath)" onclick="onLink(event)">
                <i class="fa-solid fa-arrow-left"></i>
            </a>
        </div>
        <div class="title-text">@Model.FileName</div>
    </div>
    <div class="audio-player-warp">
        <audio controls autoplay>
            <source src="" type="audio/mpeg">
        </audio>
    </div>
    
    @await Html.PartialAsync("_ControlPartial", 
        new Control(true, Model.WorkNum, Model.FilePath, Model.ParentDirPath))
</div>

@section script {
    <script src="@Url.Content("~/js/audio.js")"></script>
}
