@page "/audio/{worknum}/{path?}"
@model FileBrowser.Pages.AudioModel
@{
    Layout = "_Layout";
}

@section header {
    <link href="https://vjs.zencdn.net/7.10.2/video-js.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/css/audio.css")">
    <script src="https://vjs.zencdn.net/7.10.2/video.min.js"></script>
    <script>window.HELP_IMPROVE_VIDEOJS = false;</script>
    <script>var path = '/@Model.WorkNum/@Model.FilePath';</script>
    <script>var videoUrl = '@UrlEx.PageRouteLink("api/file/video", $"{ Model.WorkNum }", Model.FilePath)'</script>
}

<div class="video-warp">
    <div class="board title">
        <div class="title-btn">
            <a href="@UrlEx.PageRouteLink("files", $"{Model.WorkNum}", Model.ParentDirPath)" onclick="onLink(event)">
                <i class="fa-solid fa-arrow-left"></i>
            </a>
        </div>
        <div class="title-text">@Model.FileName</div>
    </div>
    <audio id="player" class="video-js vjs-big-play-centered vjs-16-9 vjs-audio-only-mode"></audio>
    
    @await Html.PartialAsync("_ControlPartial", 
        new Control(true, Model.WorkNum, Model.FilePath, Model.ParentDirPath))
</div>

@section script {
    <script src="@Url.Content("~/js/audio.js")"></script>
}
