@page "/files/{worknum}/{path?}"
@model FileBrowser.Pages.FilesModel
@{
    Layout = "_Layout";
}

@section header {
    <script>var path = '/@Model.WorkNum/@Model.DirPath';</script>
}

<div class="main">
    <div class="board title freeze">
        <div class="title-btn">
            @if (Model.DirPath == "")
            {
                <a href="@Href("~/")" onclick="onLink(event)">
                    <i class="fa-solid fa-arrow-left"></i>
                </a>
            }
            else
            {
                <a href="@UrlEx.PageRouteLink("files", $"{Model.WorkNum}", Model.ParentDirPath)" onclick="onLink(event)">
                    <i class="fa-solid fa-arrow-left"></i>
                </a>
            }
        </div>
        <div class="title-text">@Model.DirName</div>
    </div>

    @if(Model.Files.Count > 0)
    {
        @foreach(var item in Model.Files)
        {
            @if (item.FileType == FileType.Folder)
            {
                <a href="@UrlEx.PageRouteLink("files", $"{Model.WorkNum}", item.Path)" onclick="onFile()">
                    <div class="board hover file-item">
                        <div class="file-icon">
                            <i class="fa-solid fa-folder fa-3x fa-fw"></i>
                        </div>
                        <div class="file-text">
                            <div class="file-title">@item.Name</div>
                            <div class="file-description">@item.ItemCount</div>
                        </div>
                    </div>
                </a>
            }

            @if (item.FileType == FileType.Image)
            {
                <div class="image-board over">
                    <div><img src="@UrlEx.PageRouteLink("api/file/image", $"{Model.WorkNum}", item.Path)" /></div>
                </div>
            }

            @if (item.FileType == FileType.Video)
            {
                <a href="@UrlEx.PageRouteLink("video", $"{Model.WorkNum}", item.Path)"
                    data-url="intent://@Model.Host@UrlEx.PageRouteLink("api/file/video", $"{Model.WorkNum}", item.Path)#Intent;{{package}}action=android.intent.action.VIEW;category=android.intent.category.DEFAULT;category=android.intent.category.BROWSABLE;scheme=@Model.Scheme;type=video/mp4;end"
                    class="video-link"
                    onclick="onFile()">
                    <div class="board hover video-item">
                        <div class="video-image">
                            <img src="@UrlEx.PageRouteLink("api/file/thumbnail", $"{Model.WorkNum}", item.Path)" />
                        </div>
                        <div class="video-text">
                            <div class="video-title">@item.Name</div>
                            <div class="video-description">@item.FileSize</div>
                        </div>
                    </div>
                </a>
            }

            @if (item.FileType == FileType.Audio)
            {
                <a href="@UrlEx.PageRouteLink("audio", $"{Model.WorkNum}", item.Path)" onclick="onFile()">
                    <div class="board hover file-item">
                        <div class="file-icon">
                        <i class="fa-solid fa-file-audio fa-3x fa-fw"></i>
                        </div>
                        <div class="file-text">
                            <div class="file-title">@item.Name</div>
                            <div class="file-description">@item.FileSize</div>
                        </div>
                    </div>
                </a>
            }

            @if (item.FileType == FileType.Text)
            {
                <a href="@UrlEx.PageRouteLink("text", $"{Model.WorkNum}", item.Path)" onclick="onFile()">
                    <div class="board hover file-item">
                        <div class="file-icon">
                        <i class="fa-solid fa-file-lines fa-3x fa-fw"></i>
                        </div>
                        <div class="file-text">
                            <div class="file-title">@item.Name</div>
                            <div class="file-description">@item.FileSize</div>
                        </div>
                    </div>
                </a>
            }

            @if (item.FileType == FileType.Other)
            {
                <a href="@UrlEx.PageRouteLink("api/file/download", $"{Model.WorkNum}", item.Path)">
                    <div class="board hover">
                        <div>@item.Name</div>
                    </div>
                </a>
            }
        }
    }
    
    @await Html.PartialAsync("_ControlPartial", 
        new Control(true, Model.WorkNum, Model.DirPath, Model.ParentDirPath))
</div>

@section script {
    <script>
        var isUseDeepLink = storage.isUseDeepLink();
        var deepLinkPackage = storage.deepLinkPackage();
        var videoLinks = document.querySelectorAll('.video-link');
        for (var i = 0; i < videoLinks.length; i++) {
            if (isUseDeepLink) {
                var href = videoLinks[i].getAttribute('data-url');
                href = href.replace('{{package}}', deepLinkPackage === '' ? '' : 'package=' + deepLinkPackage + ';');
                videoLinks[i].href = href;
            }
            videoLinks[i].setAttribute('data-url', '');
        }
    </script>
}
